---
---
<header>
  <h1>Contacts</h1>
  <a href="/add-contact" >➕</a>
</header>

<style>
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-column: span 2;
            background-color: yellow
                ;}
</style>
